.container {
  margin: 5rem auto;
}

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  padding: 1rem 2rem;
}

.section {
  margin-top: 3rem;
}

.section > h2 {
  margin-bottom: 1rem;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
}
.chart-wrapper > canvas {
  max-width: 75%;
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
