.container {
  margin: 5rem auto;
}

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  padding: 1rem 2rem;
}

.section {
  margin-top: 3rem;
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
